<div class="blog-article-preview-card">
  <div class="image">
    <%= image %>
  </div>
  <div class="content">
    <div class="category-and-date">
      <span class="category">
        <%= category %>
      </span>
      <span class="publish-date">
        <%= publish_date %>
      </span>
    </div>
    <div class="title">
      <h2><%= title %>
    </div>
    <div class="blurb">
      <%= blurb %>
    </div>
  </div>
</div>
